.carousel-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-image {
  height: 15rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.carousel h3 {
  font-size: 1.5rem;
  font-family: "Tiny5";
} 
.carousel h3,
.caption {
  text-align: center;
  width: 100%;

  color: #fff;
  padding: 1rem;
  background: rgba(197, 151, 180, 0.5);
}

.carousel-container button {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.prev-btn {
  left: 10px;
  z-index: 10;
}

.next-btn {
  right: 10px;
  z-index: 10;
}

.carousel-container button:hover {
  color: #FF2D95;
}

.carousel-image.grayed {
  filter: grayscale(100%);
  opacity: 0.5;
}
