* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow:
    #FFF 0px 0px 0px,
    #FFF 0px 0px 6px,
    #FF2D95 0px 0px 12px,
    #FF2D95 0px 0px 20px,
    rgba(255, 45, 149, 0.5) 0px 0px 30px;

  color: white;
}

.custom-cursor {
  cursor: url("https://wallpapers.com/images/hd/classic-computer-mouse-cursor-icon-hdmlfh2pkzfr7r13.png"), auto;
}

h2 {
  font-family: "Tiny5", serif;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
}

#root {
  min-height: 100vh;
  cursor: url("https://wallpapers.com/images/hd/classic-computer-mouse-cursor-icon-hdmlfh2pkzfr7r13.png"), auto;
  width: 50vh;
  padding: 0;
  background-color: rgb(255, 237, 222);
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10rem;
}