.nav-bar {
    background-color: pink;
    height: 6%;
    width: inherit;
    position: fixed;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    z-index: 100;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar img {
    transform: scale(2);
    padding: 0;
}

.nav-bar img:hover {
    mix-blend-mode: overlay;
}

.icon-active {
    mix-blend-mode: overlay;
}